c++/.vscode/settings.json
c++/dev/*
c++/build/*
c++/release/*
c++/output/*
c++/kissfft/*
c++/eigen/*
c#/.vscode/settings.json
c#/bin/*
c#/obj/*
test_csv/*
out_correlator/*
Gui/.vs/*
Gui/Gui/bin/*
Gui/Gui/obj/*
Gui/cppcalltest/x64/Debug/*
Gui/cppcalltest/x64/Release/*
