lib/dev/*
/Gui/Gui/obj/*
*.user
/Gui/Gui/win64/*
/Gui/cppcalltest/x64/Debug/*
/Gui/Debug/*
/Gui/cppcalltest/x64/Release/*
/Gui/.vs/*
Gui/ArbitraryWaveformGenerator/bin/*
Gui/ArbitraryWaveformGenerator/obj/*
lib/.vscode/settings.json
/Gui/Common/bin/*
/Gui/Common/obj/*
/Gui/*.zip
