@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="col-lg-1">
    <form asp-page-handler="CallAPI" method="post">
    </form>
    <br />
</div>

<input type="file" id="fileinput" multiple />
<script type="text/javascript">
    function readAndLoad(evt) {
        var allContents = [];
        for (var i = 0; i < evt.target.files.length; i++) {
            var f = evt.target.files[i];
            if (f) {
                var r = new FileReader();
                r.onload = function (e) {
                    var contents = e.target.result;
                    allContents.push({
                        filename: f,
                        content: contents
                    });
                }
                r.readAsText(f);
            } else
                alert("Failed to load file");
        }

        console.log(allContents);
        $.ajax({
            type: "POST",
            url: "/?handler=CallAPI",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: allContents,
            headers: {
                RequestVerificationToken:
                    $('input:hidden[name="__RequestVerificationToken"]').val()
            },
        })
            .done(function (result) {
                console.log(result);
            });
    }

    document.getElementById('fileinput').addEventListener('change', readAndLoad, false);
</script>